<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>We have just received a password reset request for: <%= @user.email %></p>
    <p>If this was you, click the following link to reset your password: </p>
    <p><%= link_to users_reset_password_url(token: @token), users_reset_password_url(token: @token) %></p>
    <p>Thanks you.</p>
		<p>If you have any questions, contact us at monstercf.service@gmail.com</p>
  </body>
</html>